@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700&display=swap");
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Crimson+Text&family=Odibee+Sans&display=swap");
=======
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060

* {
  box-sizing: border-box;
}

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --greyish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
<<<<<<< HEAD
  --dark-grayish-violet: hsl(278, 67%, 2%);
  --very-light-gray: hsl(0, 0%, 98%);
  --black: #171717;
  --white: #fffdfa;
  --red: #f11e2c;
  --font-karla: "Karla", sans-serif;
  --font-neue: "Bebas Neue", cursive;
  --font-odibee: "Odibee Sans", cursive;
}
.html {
  scroll-behavior: smooth;
=======
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}
body {
  color: var(--dark-violet);
<<<<<<< HEAD
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1;
  font-family: var(--font-karla);
  margin: 0;
  scroll-behavior: smooth;
=======
  font-family: "Karla", sans-serif;
  margin: 0;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}

h1,
h2,
h3 {
<<<<<<< HEAD
  font-family: var(--font-neue);
=======
  font-family: "DM Serif Display", sans-serif;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}

h1,
h2 {
<<<<<<< HEAD
  font-size: 4em;
  position: relative;
=======
  font-size: 3em;
  position: relative;
  letter-spacing: 2px;
  line-height: 1;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
  margin: 0;
  padding-top: 50px;
}

h3 {
  font-size: 2em;
}

p {
  line-height: 1.7;
<<<<<<< HEAD
  opacity: 1;
=======
  opacity: 0.8;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}

.line-top::before {
  content: "";
<<<<<<< HEAD
  background-color: var(--white);
=======
  background-color: #fff;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
<<<<<<< HEAD
  width: 200px;
=======
  width: 150px;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}

.line-violet::before {
  background-color: var(--dark-violet);
}

.btn {
  background-color: transparent;
<<<<<<< HEAD
  border: 2px solid var(--black);
  display: inline-block;
  color: var(--white);
  cursor: pointer;
  padding: 15px 20px;
  max-width: 160px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-out 0.2s;
}
.btn:hover {
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
=======
  border: 2px solid #fff;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  padding: 15px 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: ease-out 0.2s;
}
.btn:hover {
  background-color: #fff;
  color: var(--very-dark-violet);
  cursor: pointer;
}

.btn-reverse {
  border-color: var(--dark-violet);
  color: var(--dark-violet);
  transition: ease-out 0.2s;
}
.btn-reverse:hover {
  background-color: var(--very-dark-violet);
  color: #fff;
  cursor: pointer;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex > div {
  flex: 1;
}

.align-start {
  align-items: flex-start;
}

/* Nav styling */
nav {
<<<<<<< HEAD
  background-color: var(--black);
=======
  background-color: #fff;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
<<<<<<< HEAD
}
nav .img-wrapper {
  max-width: 100px;
=======
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}
nav .hamburger {
  display: none;
}

nav .hamburger:focus {
  outline: none;
}

nav ul {
<<<<<<< HEAD
  width: 600px;
=======
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

nav li {
<<<<<<< HEAD
  margin-left: 10px;
}

nav li a {
  font-family: var(--font-odibee);
  letter-spacing: 4px;
  color: var(--white);
=======
  margin-left: 30px;
}

nav li a {
  color: var(--dark-grayish-violet);
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
  text-transform: uppercase;
  text-decoration: none;
}

.login {
  background-color: var(--white);
  color: var(--black);
}
#cart {
  color: var(--black);
  border-radius: 30px;
  display: inline-flex;
  background-color: white;
  padding: 10px;
}
/* Header styling */
header {
<<<<<<< HEAD
  background-image: url(images/main.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 1640px;
  height: 650px;
  color: var(--white);
  padding: 60px 0px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 3px;
=======
  background-color: var(--dark-violet);
  color: #fff;
  padding: 50px 0;
  position: relative;
  margin-top: 80px;
  margin-bottom: 250px;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}
header * {
  z-index: 1;
}

<<<<<<< HEAD
header::before {
  content: "";
  background-image: url("./images/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: -50%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
/* Section styling */
section h2 {
  margin-top: 50px;
}
section .container {
  background-color: var(--very-dark-violet);
}

.card {
  width: 350px;
  height: 680px;
  margin: 0.5em;
  text-decoration: none;
  background-color: var(--white);
  color: var(--very-dark-violet);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* 5px rounded corners */
}
.card .btn {
  color: var(--very-dark-violet);
}
.card .btn:hover {
  color: var(--white);
}
.product {
  max-width: 400px;
  margin: 30px 30px 30px 30px;
  padding: 30px 30px 30px 30px;
  text-align: center;
}

.product-title {
  margin: 10px 0 10px 0;
}
.product-img {
  padding: 10px 50px 10px 50px;
  width: 100%;
}

header .left-paragraph {
  max-width: 250px;
=======
header::after {
  content: "";
  background-image: url("./images/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  z-index: 2;
}

header::before {
  content: "";
  background-image: url("./images/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: -50%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.ivan-from-peru {
  max-width: 100%;
  margin-bottom: -250px;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}

.paragraph {
  margin: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  height: 250px;
  max-width: 250px;
}
.bg-violet {
<<<<<<< HEAD
  background-color: var(--black);
  padding: 70px;
  margin: 100px auto;
  z-index: 20;
}

.bg-violet h2 {
  color: var(--white);
=======
  background-color: var(--dark-violet);
  background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50% 100%;
  padding: 70px;
  margin: 100px auto;
}

.bg-violet h2 {
  color: #fff;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
  font-size: 3em;
  padding: 0;
  width: 60%;
}
<<<<<<< HEAD
.bg-violet .btn {
  background-color: var(--white);
  color: var(--very-dark-violet);
}
.bg-violet .btn:hover {
  background-color: var(--red);
  color: var(--white);
=======

.tile {
  margin-top: 80px;
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}

/* Footer styling */
footer {
  background-color: var(--very-light-gray);
  background-image: url("./images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding: 60px 0 30px;
}

footer h4 {
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer ul.flex li:not(:first-child) {
  margin-left: 15px;
}

footer li {
  margin-bottom: 10px;
}

footer li a {
<<<<<<< HEAD
  color: var(--very-dark-violet);
=======
  color: var(--dark-violet);
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
  text-transform: uppercase;
  text-decoration: none;
}

.border-bottom {
  border-bottom: 1px solid var(--greyish-blue);
  margin-bottom: 30px;
}

.copyright .author {
  display: flex;
  justify-content: center;
}

<<<<<<< HEAD
/* Table */
.content-table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 1160px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.content-table thead tr {
  background-color: var(--black);
  color: var(--white);
  text-align: left;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table td {
  max-width: 180px;
  overflow: hidden;
}
.content-table td a {
  display: flex;
  margin-bottom: 10px;
}

.content-table tbody tr {
  border-bottom: 1px solid var(--black);
=======
@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  .flex {
    flex-direction: column;
  }

  nav {
    padding: 20px 0;
  }

  nav .hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
  }

  nav .hamburger .close {
    display: none;
  }

  nav .hamburger.show .open {
    display: none;
  }

  nav .hamburger.show .close {
    display: block;
  }

  nav .flex {
    flex-direction: row;
  }

  nav .img-wrapper {
    text-align: left;
  }

  nav ul {
    display: none;
  }

  nav ul.show {
    background-color: var(--very-dark-violet);
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 30px;
    margin: 0;
    top: 70px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    z-index: 100;
  }

  nav ul li {
    margin: 20px 0;
  }

  nav ul a {
    color: #fff;
  }

  .btn-reverse {
    border-color: #fff;
    color: #fff;
  }

  header {
    padding-top: 0;
    margin-bottom: 50px;
  }

  header::before,
  header::after {
    display: none;
  }

  .ivan-from-peru {
    display: inline-block;
    margin-left: -20px;
    margin-bottom: -10px;
    max-width: calc(100% + 40px);
  }

  .line-top::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .reverse-mobile {
    flex-direction: column-reverse;
  }

  .bg-violet {
    background-image: url("./images/bg-pattern-how-we-work-mobile.svg");
  }

  .bg-violet h2 {
    margin-bottom: 20px;
    width: 100%;
  }

  footer {
    background-image: url(./images/bg-pattern-footer-mobile.svg);
    background-size: 100% auto;
    background-position: top center;
  }

  footer ul.flex {
    flex-direction: row;
  }

  footer .flex div {
    width: 100%;
  }
>>>>>>> 3a98146f8f5bbd65401847e72346a7f4e295e060
}
