@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Crimson+Text&family=Odibee+Sans&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --greyish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(278, 67%, 2%);
  --very-light-gray: hsl(0, 0%, 98%);
  --black: #171717;
  --white: #fffdfa;
  --red: #f11e2c;
  --font-karla: "Karla", sans-serif;
  --font-neue: "Bebas Neue", cursive;
  --font-odibee: "Odibee Sans", cursive;
}
.html {
  scroll-behavior: smooth;
}
body {
  color: var(--dark-violet);
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1;
  font-family: var(--font-karla);
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: var(--font-neue);
}

h1,
h2 {
  font-size: 4em;
  position: relative;
  margin: 0;
  padding-top: 50px;
}

h3 {
  font-size: 2em;
}

p {
  line-height: 1.7;
  opacity: 1;
}

.line-top::before {
  content: "";
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 200px;
}

.line-violet::before {
  background-color: var(--dark-violet);
}

.btn {
  background-color: transparent;
  border: 2px solid var(--black);
  display: inline-block;
  color: var(--white);
  cursor: pointer;
  padding: 15px 20px;
  max-width: 160px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: ease-out 0.2s;
}
.btn:hover {
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex > div {
  flex: 1;
}

.align-start {
  align-items: flex-start;
}

/* Nav styling */
nav {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}
nav .img-wrapper {
  max-width: 100px;
}
nav .hamburger {
  display: none;
}

nav .hamburger:focus {
  outline: none;
}

nav ul {
  width: 600px;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-left: 10px;
}

nav li a {
  font-family: var(--font-odibee);
  letter-spacing: 4px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}

.login {
  background-color: var(--white);
  color: var(--black);
}
#cart {
  color: var(--black);
  border-radius: 30px;
  display: inline-flex;
  background-color: white;
  padding: 10px;
}
/* Header styling */
header {
  background-image: url(images/main.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 1640px;
  height: 650px;
  color: var(--white);
  padding: 60px 0px;
  position: relative;
  margin-top: 80px;
  margin-bottom: 3px;
}
header * {
  z-index: 1;
}

header::before {
  content: "";
  background-image: url("./images/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: -50%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
/* Section styling */
section h2 {
  margin-top: 50px;
}
section .container {
  background-color: var(--very-dark-violet);
}

.card {
  width: 350px;
  height: 680px;
  margin: 0.5em;
  text-decoration: none;
  background-color: var(--white);
  color: var(--very-dark-violet);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* 5px rounded corners */
}
.card .btn {
  color: var(--very-dark-violet);
}
.card .btn:hover {
  color: var(--white);
}
.product {
  max-width: 400px;
  margin: 30px 30px 30px 30px;
  padding: 30px 30px 30px 30px;
  text-align: center;
}

.product-title {
  margin: 10px 0 10px 0;
}
.product-img {
  padding: 10px 50px 10px 50px;
  width: 100%;
}

header .left-paragraph {
  max-width: 250px;
}

.paragraph {
  margin: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  height: 250px;
  max-width: 250px;
}
.bg-violet {
  background-color: var(--black);
  padding: 70px;
  margin: 100px auto;
  z-index: 20;
}

.bg-violet h2 {
  color: var(--white);
  font-size: 3em;
  padding: 0;
  width: 60%;
}
.bg-violet .btn {
  background-color: var(--white);
  color: var(--very-dark-violet);
}
.bg-violet .btn:hover {
  background-color: var(--red);
  color: var(--white);
}

/* Footer styling */
footer {
  background-color: var(--very-light-gray);
  background-image: url("./images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding: 60px 0 30px;
}

footer h4 {
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer ul.flex li:not(:first-child) {
  margin-left: 15px;
}

footer li {
  margin-bottom: 10px;
}

footer li a {
  color: var(--very-dark-violet);
  text-transform: uppercase;
  text-decoration: none;
}

.border-bottom {
  border-bottom: 1px solid var(--greyish-blue);
  margin-bottom: 30px;
}

.copyright .author {
  display: flex;
  justify-content: center;
}

/* Table */
.content-table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 1160px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.content-table thead tr {
  background-color: var(--black);
  color: var(--white);
  text-align: left;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table td {
  max-width: 180px;
  overflow: hidden;
}
.content-table td a {
  display: flex;
  margin-bottom: 10px;
}

.content-table tbody tr {
  border-bottom: 1px solid var(--black);
}
