@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Crimson+Text&family=Odibee+Sans&display=swap");
@import url(style.css);
:root {
  --dark-violet: hsl(256, 26%, 20%);
  --greyish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
  --black: #171717;
  --white: #fffdfa;
  --red: #f11e2c;
  --font-karla: "Karla", sans-serif;
  --font-neue: "Bebas Neue", cursive;
  --font-odibee: "Odibee Sans", cursive;
}

body {
  font-size: 16px;
  word-spacing: 1px;
  box-sizing: border-box;
  color: #4d5068;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.content-body {
  background-color: whitesmoke;
  font-family: var(--font-karla);
  font-size: 16px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.form-wrapper {
  width: 1014px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.separate {
  text-align: left;
  width: 50%;
}
.bg-white {
  max-width: 1014px;
  background-color: #fff;
  border: 2px solid #e5e7ec;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
  text-align: center;
}

.text-title {
  font-family: var(--font-neue);
  font-size: 2 rem;
  font-weight: 600;
}

.field-group {
  margin: 0px 0px 0px 20px;
  border: 0;
  padding: 0.35em 0 0.625em 0;
  text-align: center;
  position: relative;
}
.label {
  float: left;
  font-size: 20px;
  margin: 10px 0 10px 0;
  line-height: 1.5;
}

.input {
  padding: 0.75em 1.5em 0.75em 1.5em;
  font-size: 16px;
  width: 95%;
  border: 1px solid #8b0000;
  border-radius: 5px;
  outline: 0;
  box-sizing: border-box;
  min-height: 50px;
}
select {
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

.btn-submit {
  background-color: #f11e2c;
  font-family: var(--font-neue);
  font-size: 16px;
  min-height: 49px;
  color: #fff;
  padding: 0px 20px;
  border-radius: 3px;
  outline: 0;
  border: 0;
  width: 40%;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 30px;
  transition: ease-out 0.2s;
}

.btn-submit:hover {
  background-color: rgba(255, 0, 0, 0.752);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
i {
  float: right;
  cursor: pointer;
  margin-right: 25px;
}
#hide,
#hide2 {
  display: none;
}
/*  */

.address {
  margin: 30px auto;
  width: 450px;
}

#inputZip {
  max-width: 93%;
}
